.content_section {
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.content_button {
    max-width: 250px;
    padding-left: 5px;
}

.content_text,
.content_image {
    flex: 1;
    max-width: 500px;
    min-width: 250px; /* Ensure a minimum width for better flexibility */
    text-align: left;
    display: flex;
    justify-content: center; /* Center content within the section */
    flex-direction: column;
}

p {
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

.content_text ul li {
    margin-bottom: 10px;
    font-weight: 700;
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

@media (max-width: 920px) {
    .content_section {
        grid-template-columns: 1fr; 
    }

    section .content_text:first-child {
        order: 2;
    }

    .content-text,
    .content-image {
        margin: auto;
    }

    content_image {
        max-width: 100%;
    }
}