.content-section {
    padding: 50px 20px;
}

.content-section h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.content-section h3 {
    color: #777;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.columns {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.column {
    max-width: 350px;
    align-items: center;
    text-align: left;
}

.column p {
    font-size: 12px;
}

.bold-text {
    font-weight: 600;
}

.contact-button {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 920px) {
    .columns {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .contact-button button {
        width: 100%;
    }
}